<p>When I’m bored, I try to build stuff as fast as possible. Most of those have been done in less than an hour, and have never been worked on again.<br>
Just for lolz.</p>
<p><a href="http://jauny.github.io/microwave">Microwave</a></p>
<p><a href="http://jauny.github.io/10print">10Print</a></p>
<p><a href="http://jauny.github.io/clocks">Clocks</a></p>
<p><a href="http://jauny.github.io/explosion">Explosion</a></p>
<p><a href="http://jauny.github.io/acid">Acid</a></p>
<p><a href="http://jauny.github.io/dotchain">Dotchain</a></p>
<p><a href="http://jauny.github.io/doodle">Doodle</a></p>
<p><a href="http://jauny.github.io/mario">Mario</a></p>
<p><a href="http://jauny.github.io/asteroid">Asteroid</a></p>
<p><a href="http://jauny.github.io/click">Click</a></p>
<p><a href="http://jauny.github.io/pong">Pong</a></p>
<p><a href="http://jauny.github.io/sunrise">Sunrise</a></p>
<p><a href="http://jauny.github.io/confettis">Confettis</a></p>
<p><a href="http://jauny.github.io/minesweeper">Minesweeper</a></p>
<p><a href="http://jauny.github.io/snake">Snake</a></p>
