<div class="post">
  <div class="post__title"><%= post.title %></div>
  <div class="post__date"><%= post.created_at.strftime("%m-%d-%Y") %></div>
  <div class="post__content"><%= post.preview %></div>
</div>
