<div class="post">
  <div class="post__title"><%= link_to post.title, post %></div>
  <div class="post__date"><%= post.formatted_date %></div>
  <div class="post__content"><%= post.html_preview.html_safe %></div>
</div>
