<p>
I was born in Paris and grew up in Montreal where I studied Finance. I hated it, so I moved to San Francisco to become an engineer.
</p>
<p>
I created <a href="http://jonandjess.studio" target="_blank">Jon&Jess</a> with my wife, Jess. <br/>
We're a small design studio helping post-series A startups with their design, branding and engineering needs.
Checkout some of our <a href="http://jonandjess.studio/work.html" target="_blank">clients</a>.
<p>
Before that, I spent over 4 years at Uber, building and <a href="https://eng.uber.com/driver-onboarding/" target="_blank">scaling growth systems</a>, enabling the company to onboard hundreds of thousands of drivers per week across hundreds of countries.
</p>
<p>
When not writing code, you can find me playing (or mostly <i>watching</i>) League of Legends, supporting Paris Saint-Germain or cooking a mean coq au vin. Often all at the same time.
</p>
