body {
  background-color: whitesmoke;
  color: darkslategray;
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 34em;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}

a, a:visited, a:hover {
  color: steelblue;
}
