@import 'colors';

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  color: $color-black;
  margin: auto;
  margin-bottom: 20px;
  max-width: 700px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1, h2 {
  color: $color-sun;
  a {
    color: inherit;
  }
}
h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $color-sky;
}

a {
  color: $color-sky;
  text-decoration: none;
}

.spacer {
  height: 2px;
  background: $color-sky;
}
