@import 'colors';

header {
  text-align: center;
  color: $color-sun;

  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;

    a {
      color: $color-sky;
    }
  }
}
