header {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;

  h1 {
    font-size: 5em;

    small {
      font-size: 2rem;
      display: block;
      font-weight: lighter;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
}