@import 'colors';

header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: $color-sun;

  h1 {
    font-size: 4em;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;

    a {
      color: $color-sky;
    }
  }
}
