.post {
  margin-bottom: 2em;

  .post__date {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    margin-bottom: -1em;
  }
  .post__content {
    line-height: 1.5em;
  }
}

.pagination {
  margin-top: 3em;
  text-align: right;
}
