@import 'colors';

.post {
  margin-top: 20px;
  margin-bottom: 50px;

  .post__title {
    margin-bottom: 0;
  }
  .post__date {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    color: $color-sky;
  }
  .post__content {
    margin-top: 10px;
  }
}

.pagination {
  margin-top: 50px;
  display: flex;
  
  .previous_page {
    flex: 1
  }
}
