.post {
  margin-top: 20px;

  .post__title {
    font-size: 1.3em;
    font-weight: bold;
  }
  .post__date {
    font-size: 0.8em;
    color: #85929E;
  }
  .post__content {
    margin-top: 10px;
  }
}

.pagination {
  margin-top: 50px;
  display: flex;
  
  .previous_page {
    flex: 1
  }
}
