<header>
  <h1>Jonathan Pepin</h1>
  <nav>
    <%= link_to "Posts", root_path %>
    <%= link_to "About", root_path %>
    <%= link_to "Links", root_path %>
    <%= link_to "Lolz", root_path %>
  </nav>
</header>
