<header>
  <h1><small>The blog of</small>Jonathan Pepin</h1>
  <nav>
    <%= link_to "Posts", root_path %>
    <%= link_to "About", root_path %>
    <%= link_to "@Jauny", "https://twitter.com/Jauny" %>
    <%= link_to "Lolz", lolz_path %>
  </nav>
</header>
